<form class="custom-form">
  <mat-form-field class="custom-full-width" appearance="outline">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="">
  </mat-form-field>
  <mat-form-field class="custom-full-width mt-30" appearance="outline">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="" matInput [formControl]="emailFormControl"
      [errorStateMatcher]="matcher">
    <mat-error *ngIf="emailFormControl.hasError('required')">
      This is <strong>required</strong>field
    </mat-error>
  </mat-form-field>

  <mat-form-field class="custom-full-width mt-30" appearance="outline">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
